<div class="card card1">
  <div class="d-flex flex-row justify-content-between mx-2">
    <div class="pt-2 font">
      <h4 style="font-size: 14px !important">Pre-queue Abandos</h4>
    </div>
    <div class="p-2">
      <!-- <i class="fa fa-cog mx-2 look" aria-hidden="true"></i>
      <i class="fa fa-trash mx-2 look" aria-hidden="true"></i> -->
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* align-items: center; */
      margin-left: 30px;
      margin-right: 40px;
      padding-top: -5px;
    "
  >
    <div>
      <h5 class="style">{{ overallData?.aboundedCallPercentage }}%</h5>
    </div>
    <div
      class="border-height"
      style="border: 1px solid rgba(192, 192, 192, 0.151)"
    ></div>
    <div class="font">
      <h5 style="font-size: 14px !important; padding-top: 10px">
        Pre-queue Abandos: {{ overallData?.aboundedCallCount }}
      </h5>
      <h5 style="font-size: 14px !important">
        Local Inbound calls: {{ overallData?.inboundCallCount }}
      </h5>
    </div>
  </div>
</div>
