<div
  class="border d-flex justify-content-between"
  style="position: sticky; height: 50px"
>
  <ul class="nav h-50" style="min-width: 250px">
    <li class="py-3">
      <div class="">
        <img
          src="assets/Karma.png"
          alt="Karma_logo"
          style="
            height: 34px;
            width: auto;
            margin-top: -14px;
            padding-left: 16px;
          "
        />
      </div>
    </li>
  </ul>
</div>

<div class="bg container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="gx-1">
        <div class="m-0">
          <app-dash-board [overallData]="overallData"> </app-dash-board>
        </div>
      </div>
      <div class="gx-1 mt-3">
        <div class="">
          <app-interaction-queue />
        </div>
      </div>
      <div class="gx-1 mt-3">
        <div class="">
          <app-queue [overallData]="overallData"> </app-queue>
        </div>
      </div>
      <div class="gx-1 mt-3">
        <div class="">
          <app-maindash-board />
        </div>
      </div>
    </div>
    <div class="col-8" style="margin-left: -17px">
      <div>
        <app-chart />
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex justify-content-between"
  style="height: 40px; width: 100%; position: sticky"
>
  <div class="d-flex" style="color: #a8abbd">
    <div class="pt-2 h-100 px-3 font">Powered by</div>
    <div class="d-flex align-items-center h-100 px-3 pt-1">
      <img
        src="assets/ZUQO Infinity.png"
        alt="zuqo_logo"
        style="height: 20px; width: auto"
      />
    </div>
  </div>
  <ul class="nav" style="color: #223979">
    <li class="nav-item px-3">
      <div class="d-flex align-items-center h-100 px-3">
        <small class="font"> Terms of Use </small>
      </div>
    </li>
    <li class="nav-item px-3">
      <div class="d-flex align-items-center h-100 px-3">
        <small class="font"> Privacy Policy </small>
      </div>
    </li>
  </ul>
</div>
